.alert {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: #ffffff;
}

@media (max-width: 479px) {
  .alert {
    max-width: 388px;
  }

  .ant-tabs-content-holder {
    background-color: #ffffff;
  }

  .ant-tabs-tabpane .ant-tabs-tabpane-active .search-or-rated {
    display: flex;
    justify-content: center;
  }
}
