.main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

@media (max-width: 479px) {
  .main {
    max-width: 479px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
  }
  body {
    display: flex;
    justify-content: center;
    max-width: 479px;
    margin: 0;
    background-color: #ffffff;
  }
}
