.search-field {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1010px;
  height: 80px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.new-search {
  width: 938px;
  height: 40px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

@media (max-width: 479px) {
  .search-field {
    width: 388px;
  }
}
